.AnalyzeInput {
  width: 100%;
  padding: 0 40px;

  &__input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;

    svg {
      margin-right: 15px;
    }
  }

  &__analyze-button {
    background: linear-gradient(135deg, #1CB5E0 0%, #096cda 100%);
  }

  &__wrap {
    display: flex;
  }

  &__error {
    position: absolute;
    bottom: -35px;
    color: #ff0202;
    font-size: 14px;
    font-weight: 500;
  }

  &__reanalyze-button {
    margin-left: auto;
  }
}