.AnalyzeInput {
  width: 100%;
  padding: 0 40px;

  &__input-group {
    position: relative;
    margin-right: 20px;
  }

  &__wrap {
    display: flex;
  }

  &__error {
    position: absolute;
    bottom: -35px;
    color: #ff0202;
    font-size: 14px;
    font-weight: 500;
  }

  &__reanalyze-button {
    margin-left: auto;
  }

  &__clear-button.MuiButtonBase-root {
    margin-left: 20px;
    text-transform: capitalize;
    color: #f44336;
    font-size: 16px;
  }

  &__reanalyze-button.Mui-disabled {
    svg {
      fill: #c3c3c3;
    }
  }

  .MuiInputLabel-outlined {
    transform: translate(14px, 14px) scale(1);
  }
}