$blockPadding: 20px;

.Summary {
  height: 100%;
  border-right: 1px solid #ced5d8;

  &__speed-score-wrap {
    display: flex;
    align-items: center;
    padding: $blockPadding;

    &.collapsed {
      padding: 5px;
      justify-content: center;

      .Summary__speed-score {
        margin: 0;
      }
    }
  }

  &__speed-score {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: #e5e7e8;

    svg {
      width: 100%;
    }
  }

  &__speed-score-value {
    position: absolute;
    font-weight: 700;
    font-size: 42px;

    &.collapsed {
      position: static;
      padding: 15px 0;
      font-size: 22px;
    }
  }

  &__score-guide-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
  }

  &__speed-score-legend {
    min-width: 75px;

    .ColorIndicator {
      margin-right: 5px;
    }
  }

  &__speed-score-progress {
    &--low {
      color: #f44336;

      &::before {
        background: rgba(244, 67, 54, 0.122);
      }
    }
  
    &--mid {
      color: #ffb300;

      &::before {
        background: rgba(255, 179, 0, 0.122);
      }
    }
  
    &--high {
      color: #00c853;

      &::before {
        background: rgba(0, 200, 83, 0.122);
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 50%;
    }
  }

  &__info {
    padding: $blockPadding;
  }

  &__domain {
    display: block;
    text-decoration: none;
    color: #0086de;
    font-size: 20px;
    font-weight: 600;
    overflow-wrap: break-word;
  }

  &__report-date {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
  }

  // Performance
  &__performance {
    svg {
      max-width: 100%;
      height: 100%;
    }

    &.collapsed {
      .Summary__performance-item-header {
        height: 40px;
        padding: 20px;
      }
      .Summary__performance-item-body {
        padding: 5px;
      }

      .Summary__performance-item-body-col {
        font-size: 14px;
      }
    }
  }

  &__performance-item-header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: $blockPadding;
    background-color: #f5f6f7; // d9ecf1
  }

  &__performance-item-header-col {
    flex: 1;
    text-align: center;
    color: #49728a;
    font-size: 16px;
    font-weight: 500;

    &.error {
      fill: #ff002a;
    }

    &.time {
      fill: #1393dd;
    }
  }

  &__performance-item-body {
    display: flex;
    align-items: center;
    height: 60px;
    padding: $blockPadding;
  }

  &__performance-item-body-col {
    flex: 1;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #006890;
  }
}