@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #333;
  background-color: #f8f9f9; // EAF9FF
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color {
  &--low {
    color: #f44336;
  }

  &--mid {
    color: #ffb300;
  }

  &--high {
    color: #00c853;
  }
}

.bg-color {
  &--low {
    background-color: #f44336;
  }

  &--mid {
    background-color: #ffb300;
  }

  &--high {
    background-color: #00c853;
  }
}

