@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #333;
  background-color: #f8f9f9; // EAF9FF
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color {
  &--low {
    color: #f44336;
  }

  &--mid {
    color: #ffb300;
  }

  &--high {
    color: #00c853;
  }
}

.bg-color {
  &--low {
    background-color: #f44336;
  }

  &--mid {
    background-color: #ffb300;
  }

  &--high {
    background-color: #00c853;
  }
}


// COGS loader
@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
    -o-animation: $args;
       animation: $args;
}

@mixin transform-origin($args...) {
  -webkit-transform-origin: $args;
  -ms-transform-origin: $args;
      transform-origin: $args;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }
  @-moz-keyframes #{$animationName} {
      @content;
  }
  @-o-keyframes #{$animationName} {
      @content;
  }
  @keyframes #{$animationName} {
      @content;
  }
}

.machine {
  width: 60vmin;
  fill: #f1f1f1; }

.small {
  @include animation(counter-rotation 2.5s infinite linear);
  @include transform-origin(100.136px 225.345px);
}

.medium {
  @include animation(rotation 3.75s infinite linear);
  @include transform-origin(254.675px 379.447px);
}

.large {
  @include animation(counter-rotation 5s infinite linear);
  @include transform-origin(461.37px 173.694px);
}

@include keyframes(rotation) {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@include keyframes(counter-rotation) {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

